
<% if @pizza_brands.any? %>
  <div class='cell small-11 text-center'>
      <h2>Pizza Brands</h2>
  </div>
    <% @pizza_brands.each do |brand| %>
      <div class='cell small-4 pizzaCard'>
        <div class='card '>
        <div class='card-section text-center'>
            <%= brand %>
          </div>
        </div>
      </div>
    <% end %>
<% end %>