@import 'settings';

.pageBackground {
  background: #F9C784;
}
.pizzaContainer {
  background: #FAA300;
  margin-top: 1.5rem;
  border: 5px solid #ff0101;
  border-radius: .75rem;
  padding-bottom: 1rem;
}

.pizzaCard {
  background: #FF6201;
  $card-background: #FF6201;
  border: 10px, solid, #FF6201;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.card {
  max-width: 70%;
  margin: auto;
  margin-top: 1em;
  position: relative;
}

.user_photo {
  max-height: 3rem;
}

.reviewTitle{
  text-decoration: underline;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.reviewBody{
  font-size: 15px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.reviewCard{
  background: #e57c04;
  border: 5px solid #d3d3d3;
  border-radius: .75rem;
}

.userStyle{
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.ratingStyle{
  color: #04E57C;
}

.pizzaShowCard{
  padding-left: 10px;
}

.pizza_form {
  background-color: #F9C784;
  border: 5px solid #ff0101;
  border-radius: .75rem;
}

.leftAlign {
  text-align: center;
}

nav.top-bar {
  height: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

.card-section a {
  color: black;
  font-weight: 500;
  font-style: italic;
}
.card-section a:hover {
  color: white;
}

a {
  height: 100%;
  width: auto;

  img {
    height: 100%;
    width: auto;
  }
}

.slogan {
  color: black;
  font-weight: 350;
  font-style: italic;
}

.single_pizza_show{
  margin-top: 1rem;
  border-width: 5px;
  border-style: solid;
  border-color: #E57C04;
  border-radius: 0.75rem;
  background-color: #FF6201;
}

$translucent-form-overlay-max-width: 1000px;

.translucent-form-overlay {
  max-width: $translucent-form-overlay-max-width;
  width: 100%;
  background-color: rgba(54, 54, 54, 0.8);
  padding: 20px;
  color: white;
  margin: auto;
  margin-top: 5px;
  margin-bottom: 5px;

  // workaround 6.3.0 bug
  .columns.row {
    display: block;
  }

  h3, label {
    color: white;
  }
  input, select {
    color: $dark-gray;
  }
  input::placeholder {
    color: $dark-gray;
  }
}

.button {
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button1 {
  background-color: red;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button2 {
  background-color:#e57c04;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
